## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Kloulklubed,7.0419,134.2556,81.90,79,84,6.87,PW,broken clouds
1,1,Rikitea,-23.1203,-134.9692,66.40,82,100,11.18,PF,light rain
2,2,Cabinda,-5.5500,12.2000,71.74,88,75,5.75,AO,broken clouds
3,3,Ponta Do Sol,32.6667,-17.1000,76.01,71,35,7.20,PT,scattered clouds
4,4,Waingapu,-9.6567,120.2641,72.99,85,37,8.70,ID,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Kloulklubed,7.0419,134.2556,81.90,79,84,6.87,PW,broken clouds
3,3,Ponta Do Sol,32.6667,-17.1000,76.01,71,35,7.20,PT,scattered clouds
5,5,Jamestown,42.0970,-79.2353,78.06,50,0,9.22,US,clear sky
12,12,Albany,42.6001,-73.9662,83.44,43,57,1.99,US,broken clouds
21,21,Atuona,-9.8000,-139.0333,77.88,69,6,16.22,PF,clear sky
23,23,Hithadhoo,-0.6000,73.0833,83.44,74,100,13.87,MV,overcast clouds
27,27,Touros,-5.1989,-35.4608,78.26,75,13,15.90,BR,few clouds
30,30,Vaini,-21.2000,-175.2000,75.36,94,33,6.91,TO,scattered clouds
45,45,Bethel,41.3712,-73.4140,85.89,58,81,7.74,US,broken clouds
47,47,Tabou,4.4230,-7.3528,75.79,80,98,8.55,CI,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Kloulklubed,7.0419,134.2556,81.90,79,84,6.87,PW,broken clouds
3,3,Ponta Do Sol,32.6667,-17.1000,76.01,71,35,7.20,PT,scattered clouds
5,5,Jamestown,42.0970,-79.2353,78.06,50,0,9.22,US,clear sky
12,12,Albany,42.6001,-73.9662,83.44,43,57,1.99,US,broken clouds
21,21,Atuona,-9.8000,-139.0333,77.88,69,6,16.22,PF,clear sky
...,...,...,...,...,...,...,...,...,...,...
674,674,Carballo,43.2130,-8.6910,80.29,63,100,2.77,ES,light rain
677,677,Finschhafen,-6.6024,147.8681,77.52,85,100,5.66,PG,moderate rain
678,678,Whitefish,48.4111,-114.3376,86.11,33,0,9.22,US,clear sky
679,679,Kahului,20.8947,-156.4700,82.42,72,20,23.02,US,few clouds
682,682,Mindelo,16.8901,-24.9804,75.36,75,20,18.61,CV,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kloulklubed,PW,81.90,broken clouds,7.0419,134.2556,
3,Ponta Do Sol,PT,76.01,scattered clouds,32.6667,-17.1000,
5,Jamestown,US,78.06,clear sky,42.0970,-79.2353,
12,Albany,US,83.44,broken clouds,42.6001,-73.9662,
21,Atuona,PF,77.88,clear sky,-9.8000,-139.0333,
23,Hithadhoo,MV,83.44,overcast clouds,-0.6000,73.0833,
27,Touros,BR,78.26,few clouds,-5.1989,-35.4608,
30,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
45,Bethel,US,85.89,broken clouds,41.3712,-73.4140,
47,Tabou,CI,75.79,overcast clouds,4.4230,-7.3528,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kloulklubed,PW,81.90,broken clouds,7.0419,134.2556,Storyboard Beach Resort
3,Ponta Do Sol,PT,76.01,scattered clouds,32.6667,-17.1000,Hotel do Campo
5,Jamestown,US,78.06,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
12,Albany,US,83.44,broken clouds,42.6001,-73.9662,
21,Atuona,PF,77.88,clear sky,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
674,Carballo,ES,80.29,light rain,43.2130,-8.6910,Pazo do Souto
677,Finschhafen,PG,77.52,moderate rain,-6.6024,147.8681,Cossam Guest House
678,Whitefish,US,86.11,clear sky,48.4111,-114.3376,Best Western Rocky Mountain Lodge
679,Kahului,US,82.42,few clouds,20.8947,-156.4700,Maui Seaside Hotel
682,Mindelo,CV,75.36,few clouds,16.8901,-24.9804,Hotel Gaudi

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))